#canvasDiv{
  cursor:url(../gui/cursor-fa-pencil.cur),auto;
}

#body{
  margin-top: 100px;
}

#contents{
  display: flex;
}

#canvas{
  margin-right: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

#uploadBtn {             /*input tag 공통 스타일*/
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
