#div0{
	width : 100.0%;
	height : 30.5%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 24.4375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div2{
	width : 75.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 100.0%;
	height : 69.5%;
	margin : -1px;
	border : 1px solid black;
}
#div4{
	width : 24.4375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div5{
	width : 75.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#button0{
	margin : 10px;
	width : 144px;
	height : 33px;
	background-color : none;
}
#button1{
	margin : 10px;
	width : 256px;
	height : 33px;
	background-color : btn btn-success;
}
#button2{
	margin : 10px;
	width : 176px;
	height : 49px;
	background-color : btn btn-warning;
}
#editText0{
	margin : 10px;
	width : 224px;
	height : 49px;
	border : 3px solid #0099ff;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid blue;
}
#editText0:hover{
	border : 3px solid blue;
}
#button3{
	margin : 10px;
	width : 176px;
	height : 33px;
	background-color : btn btn-danger;
}
#editText1{
	margin : 10px;
	width : 192px;
	height : 49px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid none;
}
#editText1:hover{
	border : 3px solid none;
}
#text0{
	margin : 10px;
}
#editText2{
	margin : 10px;
	width : 192px;
	height : 49px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText2:focus{
	border : 3px solid none;
}
#editText2:hover{
	border : 3px solid none;
}
#text1{
	margin : 10px;
}
#button4{
	margin : 10px;
	width : 176px;
	height : 49px;
	background-color : btn btn-success;
}
#editText3{
	margin : 10px;
	width : 160px;
	height : 33px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText3:focus{
	border : 3px solid none;
}
#editText3:hover{
	border : 3px solid none;
}
#editText4{
	margin : 10px;
	width : 176px;
	height : 33px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText4:focus{
	border : 3px solid none;
}
#editText4:hover{
	border : 3px solid none;
}
#button5{
	margin : 10px;
	width : 160px;
	height : 33px;
	background-color : btn btn-primary;
}
#editText5{
	margin : 10px;
	width : 160px;
	height : 33px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText5:focus{
	border : 3px solid none;
}
#editText5:hover{
	border : 3px solid none;
}
#text2{
	margin : 10px;
}
#text3{
	margin : 10px;
}
#button6{
	margin : 10px;
	width : 112px;
	height : 49px;
	background-color : none;
}
#radioButton0{
	margin : 10px;
}
#radioButton1{
	margin : 10px;
}
#radioButton2{
	margin : 10px;
}
