#div0{
	width : 100.0%;
	height : 11.5%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 100.0%;
	height : 88.5%;
	margin : -1px;
	border : 1px solid black;
}
#div2{
	width : 21.75%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 78.25%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#button0{
	margin : 10px;
}
#button1{
	margin : 10px;
}
#button2{
	margin : 10px;
}
#button3{
	margin : 10px;
}
#button4{
	margin : 10px;
}
#button5{
	margin : 10px;
}
#button6{
	margin : 10px;
}
#button7{
	margin : 10px;
}
#button8{
	margin : 10px;
}
