#div0{
	width : 100.0%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 17.875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 100.0%;
	height : 74.33333333333333%;
	margin : -1px;
	border : 1px solid black;
}
#div4{
	width : 100.0%;
	height : 51.0%;
	margin : -1px;
	border : 1px solid black;
}
#div5{
	width : 66.9710806697108%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div6{
	width : 33.02891933028919%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div7{
	width : 100.0%;
	height : 25.666666666666664%;
	margin : -1px;
	border : 1px solid black;
}
#div2{
	width : 82.125%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#button0{
	margin : 10px;
}
