#div0{
	width : 100.0%;
	height : 82.16666666666667%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 47.3125%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div2{
	width : 52.6875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 100.0%;
	height : 17.833333333333336%;
	margin : -1px;
	border : 1px solid black;
}
#button0{
	margin : 10px;
	width : 144px;
	height : 17px;
	background-color : none;
}
#button1{
	margin : 10px;
	width : 144px;
	height : 17px;
	background-color : none;
}
#button2{
	margin : 10px;
	width : 128px;
	height : 17px;
	background-color : none;
}
#editText0{
	margin : 10px;
	width : 176px;
	height : 33px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid none;
}
#editText0:hover{
	border : 3px solid none;
}
#radioButton0{
	margin : 10px;
}
#button3{
	margin : 10px;
	width : 160px;
	height : 17px;
	background-color : none;
}
#button4{
	margin : 10px;
	width : 160px;
	height : 33px;
	background-color : none;
}
#editText1{
	margin : 10px;
	width : 224px;
	height : 17px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid none;
}
#editText1:hover{
	border : 3px solid none;
}
#editText2{
	margin : 10px;
	width : 208px;
	height : 17px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText2:focus{
	border : 3px solid none;
}
#editText2:hover{
	border : 3px solid none;
}
#editText3{
	margin : 10px;
	width : 208px;
	height : 17px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText3:focus{
	border : 3px solid none;
}
#editText3:hover{
	border : 3px solid none;
}
#editText4{
	margin : 10px;
	width : 208px;
	height : 17px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText4:focus{
	border : 3px solid none;
}
#editText4:hover{
	border : 3px solid none;
}
#button5{
	margin : 10px;
	width : 144px;
	height : 49px;
	background-color : none;
}
#button6{
	margin : 10px;
	width : 144px;
	height : 49px;
	background-color : none;
}
#button7{
	margin : 10px;
	width : 112px;
	height : 33px;
	background-color : none;
}
#checkBox0{
	margin : 10px;
}
#checkBox1{
	margin : 10px;
}
#checkBox2{
	margin : 10px;
}
#button8{
	margin : 10px;
	width : 112px;
	height : 33px;
	background-color : none;
}
