#div0{
	width : 100.0%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 28.000000000000004%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div2{
	width : 39.625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 32.375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#radioButton0{
	margin : 10px;
}
#checkBox0{
	margin : 10px;
}
#radioButton1{
	margin : 10px;
}
#radioButton2{
	margin : 10px;
}
#radioButton3{
	margin : 10px;
}
