#div0{
	width : 100.0%;
	height : 12.083333333333334%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 100.0%;
	height : 87.91666666666667%;
	margin : -1px;
	border : 1px solid black;
}
#div2{
	width : 18.375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div4{
	width : 100.0%;
	height : 51.37440758293839%;
	margin : -1px;
	border : 1px solid black;
}
#div5{
	width : 100.0%;
	height : 55.26066350710901%;
	margin : -1px;
	border : 1px solid black;
}
#div6{
	width : 100.0%;
	height : 48.62559241706161%;
	margin : -1px;
	border : 1px solid black;
}
#div3{
	width : 43.875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div8{
	width : 100.0%;
	height : 51.37440758293839%;
	margin : -1px;
	border : 1px solid black;
}
#div9{
	width : 100.0%;
	height : 55.26066350710901%;
	margin : -1px;
	border : 1px solid black;
}
#div10{
	width : 100.0%;
	height : 48.62559241706161%;
	margin : -1px;
	border : 1px solid black;
}
#div7{
	width : 37.75%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#editText0{
	margin : 10px;
}
#editText1{
	margin : 10px;
}
#editText2{
	margin : 10px;
}
#checkBox0{
	margin : 10px;
}
#radioButton0{
	margin : 10px;
}
#button0{
	margin : 10px;
}
#button1{
	margin : 10px;
}
#button2{
	margin : 10px;
}
#button3{
	margin : 10px;
}
#button4{
	margin : 10px;
}
#button5{
	margin : 10px;
}
#button6{
	margin : 10px;
}
#button7{
	margin : 10px;
}
#button8{
	margin : 10px;
}
#button9{
	margin : 10px;
}
