#div0{
	width : 100.0%;
	height : 25.916666666666664%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 21.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div2{
	width : 55.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 22.875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div4{
	width : 100.0%;
	height : 62.66666666666667%;
	margin : -1px;
	border : 1px solid black;
}
#div5{
	width : 21.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div6{
	width : 55.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div8{
	width : 100.0%;
	height : 49.33510638297872%;
	margin : -1px;
	border : 1px solid black;
}
#div9{
	width : 100.0%;
	height : 50.66489361702128%;
	margin : -1px;
	border : 1px solid black;
}
#div7{
	width : 22.875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div10{
	width : 100.0%;
	height : 11.416666666666666%;
	margin : -1px;
	border : 1px solid black;
}
#div11{
	width : 21.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div12{
	width : 55.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div13{
	width : 22.875%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#button0{
	margin : 10px;
	width : 100px;
	height : 25px;
	background-color : btn btn-success;
}
#button1{
	margin : 10px;
	width : 100px;
	height : 25px;
	background-color : btn btn-danger;
}
#button2{
	margin : 10px;
	width : 100px;
	height : 25px;
	background-color : btn btn-danger;
}
#button3{
	margin : 10px;
	width : 100px;
	height : 25px;
	background-color : none;
}
#editText0{
	margin : 10px;
	width : 100px;
	height : 25px;
	border : 3px solid #ff6666;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid red;
}
#editText0:hover{
	border : 3px solid red;
}
#checkBox0{
	margin : 10px;
}
#checkBox1{
	margin : 10px;
}
#checkBox2{
	margin : 10px;
}
#radioButton0{
	margin : 10px;
}
#radioButton1{
	margin : 10px;
}
#radioButton2{
	margin : 10px;
}
#editText1{
	margin : 10px;
	width : 100px;
	height : 25px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid none;
}
#editText1:hover{
	border : 3px solid none;
}
#button4{
	margin : 10px;
	width : 100px;
	height : 25px;
	background-color : btn btn-primary;
}
#editText2{
	margin : 10px;
	width : 100px;
	height : 25px;
	border : 3px solid #0099ff;
	border-radius : 5px;
}
#editText2:focus{
	border : 3px solid blue;
}
#editText2:hover{
	border : 3px solid blue;
}
#editText3{
	margin : 10px;
	width : 100px;
	height : 25px;
	border : 3px solid #0099ff;
	border-radius : 5px;
}
#editText3:focus{
	border : 3px solid blue;
}
#editText3:hover{
	border : 3px solid blue;
}
#ocrtext0{
	margin : 10px;
}
#editText4{
	margin : 10px;
	width : 300px;
	height : 25px;
	border : 3px solid #ffeb99;
	border-radius : 5px;
}
#editText4:focus{
	border : 3px solid orange;
}
#editText4:hover{
	border : 3px solid orange;
}
#ocrtext1{
	margin : 10px;
}
#editText5{
	margin : 10px;
	width : 100px;
	height : 25px;
	border : 3px solid #33cc33;
	border-radius : 5px;
}
#editText5:focus{
	border : 3px solid #009933;
}
#editText5:hover{
	border : 3px solid #009933;
}
#ocrtext2{
	margin : 10px;
}
#ocrtext3{
	margin : 10px;
}
