#div0{
	width : 100.0%;
	height : 11.416666666666666%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 100.0%;
	height : 78.0%;
	margin : -1px;
	border : 1px solid black;
}
#div2{
	width : 65.25%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 34.75%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div4{
	width : 100.0%;
	height : 10.583333333333334%;
	margin : -1px;
	border : 1px solid black;
}
#text0{
	margin : 10px;
}
#button0{
	margin : 10px;
	width : 112px;
	height : 33px;
}
#editText0{
	margin : 10px;
	width : 208px;
	height : 17px;
}
#editText1{
	margin : 10px;
	width : 208px;
	height : 17px;
}
#button1{
	margin : 10px;
	width : 160px;
	height : 33px;
}
#checkBox0{
	margin : 10px;
}
#checkBox1{
	margin : 10px;
}
#checkBox2{
	margin : 10px;
}
#checkBox3{
	margin : 10px;
}
#button2{
	margin : 10px;
	width : 112px;
	height : 17px;
}
#editText2{
	margin : 10px;
	width : 320px;
	height : 17px;
}
