#div0{
	width : 100.0%;
	height : 30.5%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 24.4375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div2{
	width : 75.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 100.0%;
	height : 69.5%;
	margin : -1px;
	border : 1px solid black;
}
#div4{
	width : 24.4375%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div5{
	width : 75.5625%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#button0{
	margin : 10px;
	width : 160px;
	height : 49px;
	background-color : btn btn-primary;
}
#button1{
	margin : 10px;
	width : 256px;
	height : 33px;
	background-color : btn btn-success;
}
#editText0{
	margin : 10px;
}
#editText1{
	margin : 10px;
}
#editText2{
	margin : 10px;
}
#editText3{
	margin : 10px;
}
#editText4{
	margin : 10px;
}
#text0{
	margin : 10px;
}
#editText5{
	margin : 10px;
}
#text1{
	margin : 10px;
}
#editText6{
	margin : 10px;
}
#button2{
	margin : 10px;
	width : 160px;
	height : 33px;
	background-color : btn btn-warning;
}
#editText7{
	margin : 10px;
}
#editText8{
	margin : 10px;
}
#editText9{
	margin : 10px;
}
#editText10{
	margin : 10px;
}
#text2{
	margin : 10px;
}
#text3{
	margin : 10px;
}
#button3{
	margin : 10px;
	width : 112px;
	height : 49px;
	background-color : btn btn-danger;
}
