#div0{
	width : 100.0%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
}
#button0{
	margin : 10px;
	width : 128px;
	height : 81px;
	background-color : btn btn-success;
}
#button1{
	margin : 10px;
	width : 160px;
	height : 65px;
	background-color : btn btn-danger;
}
#editText0{
	margin : 10px;
	width : 176px;
	height : 65px;
	border : 3px solid #ffeb99;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid orange;
}
#editText0:hover{
	border : 3px solid orange;
}
#editText1{
	margin : 10px;
	width : 128px;
	height : 65px;
	border : 3px solid #ff6666;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid red;
}
#editText1:hover{
	border : 3px solid red;
}
#editText2{
	margin : 10px;
	width : 112px;
	height : 65px;
	border : 3px solid #33cc33;
	border-radius : 5px;
}
#editText2:focus{
	border : 3px solid blue;
}
#editText2:hover{
	border : 3px solid blue;
}
#editText3{
	margin : 10px;
	width : 144px;
	height : 65px;
	border : 3px solid #33ff77;
	border-radius : 5px;
}
#editText3:focus{
	border : 3px solid #009933;
}
#editText3:hover{
	border : 3px solid #009933;
}
