#div0{
	width : 100.0%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
}
#button0{
	margin : 10px;
	width : 240px;
	height : 113px;
	background-color : btn btn-success;
}
#editText0{
	margin : 10px;
	width : 176px;
	height : 65px;
	border : 3px solid #006600;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid #006600;
}
#editText0:hover{
	border : 3px solid #006600;
}
#editText1{
	margin : 10px;
	width : 224px;
	height : 81px;
	border : 3px solid #006600;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid #006600;
}
#editText1:hover{
	border : 3px solid #006600;
}
