#div0{
	width : 100.0%;
	height : 27.916666666666668%;
	margin : -1px;
	border : 1px solid black;
}
#div1{
	width : 100.0%;
	height : 36.5%;
	margin : -1px;
	border : 1px solid black;
}
#div2{
	width : 48.5%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div3{
	width : 51.5%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div4{
	width : 100.0%;
	height : 35.583333333333336%;
	margin : -1px;
	border : 1px solid black;
}
#div5{
	width : 48.5%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#div6{
	width : 51.5%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
	float : left;
}
#editText0{
	margin : 10px;
	width : 200px;
	height : 25px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText0:focus{
	border : 3px solid none;
}
#editText0:hover{
	border : 3px solid none;
}
#editText1{
	margin : 10px;
	width : 200px;
	height : 25px;
	border : 3px solid none;
	border-radius : 5px;
}
#editText1:focus{
	border : 3px solid none;
}
#editText1:hover{
	border : 3px solid none;
}
#checkBox0{
	margin : 10px;
}
#checkBox1{
	margin : 10px;
}
#radioButton0{
	margin : 10px;
}
#radioButton1{
	margin : 10px;
}
#button0{
	margin : 10px;
	width : 200px;
	height : 25px;
	background-color : btn btn-danger;
}
#button1{
	margin : 10px;
	width : 200px;
	height : 25px;
	background-color : btn btn-primary;
}
#editText2{
	margin : 10px;
	width : 300px;
	height : 50px;
	border : 3px solid #0099ff;
	border-radius : 5px;
}
#editText2:focus{
	border : 3px solid blue;
}
#editText2:hover{
	border : 3px solid blue;
}
